<!DOCTYPE html>

<html>

<head>
  <title>Dice Roll</title>
</head>


<body>

<h1>Dice Roll</h1>
  <div>
    <ul>
        <li><a href="https://sturdy-eureka-q79pxgggxx9rc4vqj-4567.app.github.dev/dice/2/6"> Roll two six-sided dice</a></li>
        <li><a href="https://sturdy-eureka-q79pxgggxx9rc4vqj-4567.app.github.dev/dice/2/10"> Roll two ten-sided dice</a></li>
        <li><a href="https://sturdy-eureka-q79pxgggxx9rc4vqj-4567.app.github.dev/dice/1/20"> Roll one twenty-sided dice</a></li>
        <li><a href="https://sturdy-eureka-q79pxgggxx9rc4vqj-4567.app.github.dev/dice/5/4"> Roll five four-sided dice</a></li>
      </ul>
    </div>
  </body>

</html>
